@{
    ViewBag.Title = "Contact";
}
<h1>@ViewBag.Title.</h1>
<h2>@ViewBag.Message</h2>
<br />
<h4>Nur Mohammed</h4>
<h5>ID: <em>1248604</em></h5>
<h5>Batch ID: <em>ESAD-CS/PNTL-M/40/01</em></h5>
<h5>Mobile: <em>+8801977197710</em></h5>
<h5>Email: <a href="#">nurmohammedbd24@gmail.com</a></h5>

