@{
    ViewBag.Title = "Home Page";
}

<div class="row" >
    <h1 style="text-align: center">ABC Departmental Store Limited</h1>
</div>

<div class="jumbotron" style="text-align: center">
    <h1>Store Management</h1>
    <p class="lead">From here you can manage your store as you need....</p>
</div>
