
@{
    ViewBag.Title = "Report";
}

<h1>Reports</h1>
<br />
<h3>To download Purchase Report <a href="@Url.Action("Purchase","Home")">Click Here</a></h3>
<br />
<h3>To download Sales Report <a href="@Url.Action("Sales","Home")">Click Here</a></h3>
<br />
